body {
    background-color: #1683cc3f;
    border-color: #000000;  
    font-family: verdana, Tahoma, Helvetica;
}

.page-header,
.sub-headers {
    color: rgb(166, 98, 168);
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: ;
    border: 20px solid white;
}



.dotless-list {
    list-style-type: none;
    text-align: center;
}

.ingredients-list {
    text-align: left;
    list-style-type: square;
}