body {
    background-color: hsl(40, 69%, 95%);
    font-family: verdana, Tahoma, Helvetica;
    margin: auto;
    border: 10px solid white;
}

.page-header,
.sub-headers {
    color: rgb(166, 98, 168);
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: ;
}



.dotless-list {
    list-style-type: none;
    text-align: center;
}

.ingredients-list {
    text-align: left;
    list-style-type: square;
}

.directions-list {
    
}